@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul class="list-unstyled">
        <li>@Html.ActionLink("Đăng ký", "Dangky", "Customer")</li>
        <li>@Html.ActionLink("Đăng nhập", "DangNhap", "Customer")</li>
        <li>@Html.ActionLink("Đăng xuất", "DangXuat", "Customer")</li>
        
    </ul>
</div>

